<!--<mat-sidenav-container class="example-container">-->
<!--  <mat-sidenav mode="side" opened>-->
<!--    <mat-action-list>-->
<!--      <mat-list-item [routerLink]="['']">Dashboard</mat-list-item>-->
<!--      <mat-list-item [routerLink]="['horn-sat']">Horn-SAT</mat-list-item>-->
<!--    </mat-action-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Mathematic Logic</h1>
    <span class="menu-spacer"></span>
    <div>


    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'"> Home </a>
      <a mat-list-item [routerLink]="'/horn-sat'"> Horn-Sat </a>

<!--      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/-->
